@page
@model LoginModel

<h3>Login</h3>

<form method="post">
    <div>
        <label>Benutzername</label>
        <input asp-for="Input.Username" />
    </div>
    <div>
        <label>Passwort</label>
        <input asp-for="Input.Password" type="password" />
    </div>
    <button type="submit">Einloggen</button>

    <div asp-validation-summary="All"></div>
</form>
